@font-face
    {
        font-family: 'avenir';
        src: url(fonts/AvenirNextLTPro-Regular.otf);
        font-style: normal;
        font-weight: 100;
    }
@font-face
    {
        font-family: 'cascadia';
        src: url(fonts/CascadiaCode-Regular.otf);
        font-style: normal;
        font-weight: 100;
    }

body{
    background-color:#8338EC;
    font-family: 'cascadia';
}

input[type = "button"]{
    border: none;
    border-radius: 2px;
    background-color: #63A;
    color: white;
    font-family: cascadia;
    padding: 6px 14px;
    text-align: center;
}

button{
    border: none;
    border-radius: 2px;
    background-color: #18A558;
    color: white;
    font-family: cascadia;
    padding: 6px 14px;
    text-align: center;
}