.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
    background-color:#EEEEEF;
    font-family: 'albra';
    margin: auto;
    padding: auto;
}

.navi{
    font-family: 'futura'
}

h1{
    font-size: 3.5em;
    line-height: 90%;
}

.mainButton{

    border: none;
	background-color:#ff7700;
	border-radius:41px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'futura';
	font-size:15px;
	padding:12px 100px;
	text-decoration:none;
    outline: none;

    box-shadow:  6px 6px 8px #D1CDC7,
             -6px -6px 8px #FFFFFF;
   
}

.mainButton:hover{
    box-shadow: none;
    outline: none;
    border: none;
}

.mainButton:active{
    border: none;
    outline: none;
    box-shadow: inset 12px 12px 8px #d96500,
                inset -12px -12px 8px #ff8900;
    
}


.container.slogan {
    padding: 0;
    margin: 2%;
    margin-top: 15%;
    
  }



