/*---------------fonts---------------*/


@font-face
    {
        font-family: 'avenir';
        src: url(fonts/AvenirNextLTPro-Regular.otf);
        font-style: normal;
        font-weight: 100;
    }

@font-face
    {
        font-family: 'futura';
        src: url(fonts/FUTURAM.TTF);
        font-style: normal;
        font-weight: 100;
    }

@font-face
    {
        font-family: 'albra';
        src: url(fonts/AlbraTextBold.otf);
        font-style: normal;
        font-weight: 100;
    }


/*---------------homepage---------------*/


body{
    background-color:#EEEEEF;
    font-family: 'albra';
    margin: auto;
    padding: auto;
}

h1{
    font-size: 600%;
    line-height: 100%;
}

.slogan {
    list-style: none;
    position: static;
    z-index: 2;
    width: 100%;
    left: 4;
    top: 20%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    }

.mainButton{
    border: none;
	background-color:#ff7700;
	border-radius: 41px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'futura';
	font-size:15px;
	padding:12px 100px;
	text-decoration:none;
    outline: none;

    box-shadow:  6px 6px 8px #D1CDC7,
                -6px -6px 8px #FFFFFF;
   
}

.mainButton:hover{
    box-shadow: none;
    outline: none;
    border: none;
}

.mainButton:active{
    border: none;
    outline: none;
    box-shadow: inset 12px 12px 8px #d96500,
                inset -12px -12px 8px #ff8900;
    
}

.logo {
    margin-left: 6%;
    }

.icon {
    text-align: center;
    position: absolute;
    top: 50%;
    right: 51%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.home {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 41%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.recipe-center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.saved-recipes {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 59%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.login {
    text-align: center;
    position: absolute;
    top: 50%;
    right: 59%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.register {
    text-align: center;
    position: absolute;
    top: 50%;
    right: 53%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.navbar {
    background: #eeeeef;
    }

.nav-link {
    color: #000000;
    font-family: 'futura';
    font-size: 90%;
    }

.navbar, a:hover {
    color: rgb(124, 124, 124); 
    }

@keyframes mac2 {
    from {top: -370%}
    to {top: -50%}
}

@keyframes waffle2 {
    from {top: -290%}
    to {top: 30%}
}

@keyframes sandwich {
    from {top: -210%}
    to {top: 110%}
}

@keyframes salad {
    from {top: -130%}
    to {top: 190%}
}

@keyframes mac {
    from {top: -50%}
    to {top: 270%}
}

@keyframes waffle {
    from {top: 30%}
    to {top: 350%}
}

.animations {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.mac2 {
    position: fixed;
    top: -370%;
    right: 7%;
    animation-name: mac2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.waffle2 {
    position: fixed;
    top: -290%;
    right: 7%;
    animation-name: waffle2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sandwich {
    position: fixed;
    top: -210%;
    right: 7%;
    animation-name: sandwich;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.salad {
    position: fixed;
    top: -130%;
    right: 7%;
    animation-name: salad;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.mac {
    position: fixed;
    top: -50%;
    right: 7%;
    animation-name: mac;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.waffle {
    position: fixed;
    top: 30%;
    right: 7%;
    animation-name: waffle;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/*---------------login page---------------*/


/*background card*/
.card {
    border-radius: 30px;
    border-style: none;
    background-color: #eeeeef;
    margin-top: 3%;
    box-shadow:  6px 6px 8px #D1CDC7,
                -6px -6px 8px #FFFFFF;
}

/*logo*/
.login-logo {
    margin-top: -4%;
    padding-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*targets each line of main text*/
.login-page-text {
    color: #000;
    line-height: 85%;
    font-size: 250%;
    margin-left: 10%;
}

/*username field*/
#username {
    width: 80%;
    margin-top: 10%;
    color: #1b1b1b;
    font-family: 'futura';
    border-radius: 30px;
    padding: .5% 2% .5% 2%;
    outline: none;
    border-style: none;
    background-color: #eeeeef;
    box-shadow: inset 6px 6px 8px #D1CDC7,
                inset -6px -6px 8px #FFFFFF;
}

/*password field*/
#password {
    width: 80%;
    color: #1b1b1b;
    font-family: 'futura';
    border-radius: 30px;
    padding: .5% 2% .5% 2%;
    outline: none;
    border-style: none;
    background-color: #eeeeef;
    box-shadow: inset 6px 6px 8px #D1CDC7,
                inset -6px -6px 8px #FFFFFF;
}

/*login button*/
#loginButton {
    border: none;
	background-color:#ff7700;
	border-radius: 41px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'futura';
	font-size:15px;
	padding:12px 100px;
	text-decoration:none;
    outline: none;

    box-shadow:  6px 6px 8px #D1CDC7,
                -6px -6px 8px #FFFFFF;
}

/*targets the main text as a unit*/
.card-text {
    padding-top: 3%;
}

/*field placeholder text*/
::placeholder {
    color: #b3b3b3;
    opacity: 1;
}

.bottom-text {
    margin-top: 22%;
    font-size: 100%;
    font-family: 'futura';
    margin-left: 10%;
    color: #476ec2;
}

.bottom-text:link {
    color: #476ec2;
}

.bottom-text:hover {
    color: #476ec2;
    text-decoration: none; 
}

h2 {
    padding-bottom: 3%;
    padding-top: .75%;
    font-size: 100%;
    font-family: 'futura';
    margin-left: 10%;
    color: #b3b3b3;
    display: inline-block;
}

.create {
    margin-top: 22%;
    font-size: 100%;
    font-family: 'futura';
    color: #476ec2;
}

.create:link {
    color: #476ec2;
}

.create:hover {
    color: #476ec2;
    text-decoration: none; 
}


/*---------------register page---------------*/


/*background card*/
.card {
    border-radius: 30px;
    border-style: none;
    background-color: #eeeeef;
    margin-top: 3%;
    box-shadow:  6px 6px 8px #D1CDC7,
                -6px -6px 8px #FFFFFF;
}

/*logo*/
.login-logo {
    margin-top: -4%;
    padding-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*targets each line of main text*/
.login-page-text {
    color: #000;
    line-height: 85%;
    font-size: 250%;
    margin-left: 10%;
}

/*targets the main text as a unit*/
.card-text {
    padding-top: 3%;
}

/*register username field*/
#reg-username {
    width: 80%;
    margin-top: 10%;
    color: #1b1b1b;
    font-family: 'futura';
    border-radius: 30px;
    padding: .5% 2% .5% 2%;
    outline: none;
    border-style: none;
    background-color: #eeeeef;
    box-shadow: inset 6px 6px 8px #D1CDC7,
                inset -6px -6px 8px #FFFFFF;
}

/*register password field*/
#reg-password {
    width: 80%;
    color: #1b1b1b;
    font-family: 'futura';
    border-radius: 30px;
    padding: .5% 2% .5% 2%;
    outline: none;
    border-style: none;
    background-color: #eeeeef;
    box-shadow: inset 6px 6px 8px #D1CDC7,
                inset -6px -6px 8px #FFFFFF;
}

/*register confirm password field*/
#confirm-reg-password {
    width: 80%;
    color: #1b1b1b;
    font-family: 'futura';
    border-radius: 30px;
    padding: .5% 2% .5% 2%;
    outline: none;
    border-style: none;
    background-color: #eeeeef;
    box-shadow: inset 6px 6px 8px #D1CDC7,
                inset -6px -6px 8px #FFFFFF;
}

/*register button*/
#registerButton {
    margin-bottom: 25.15%;
    border: none;
	background-color:#ff7700;
	border-radius: 41px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'futura';
	font-size:15px;
	padding:12px 100px;
	text-decoration:none;
    outline: none;

    box-shadow:  6px 6px 8px #D1CDC7,
                -6px -6px 8px #FFFFFF;
}


/*---------------ingredients page---------------*/

.ing-recipe-center {
    color: #ff7700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h3 {
    font-family: 'albra';
    color: #000;
    font-size: 500%;
    margin-left: 1.5%;
}

h4 {
    font-family: 'futura';
    color: #000;
    font-size: 150%;
    margin-left: 1.5%;
}

.card1 {
    border-radius: 30px;
    border-style: none;
    background-color: #eeeeef;
    
    box-shadow:  6px 6px 8px #D1CDC7,
                -6px -6px 8px #FFFFFF;
}

.container {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 50%;
    margin: 50px 50px 50px 50px;
}

.checkmark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeeef;
    box-shadow: 6px 6px 8px #D1CDC7,
                -6px -6px 8px #FFFFFF;
    border-radius: 60px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark:before {
    position: absolute;
}

.container input:checked ~ .checkmark {

    background-color: #eeeeef;
    box-shadow: inset 12px 12px 8px #D1CDC7,
                inset -12px -12px 8px #FFFFFF;
}

h5 {
    font-size: 10%;
}





.eggButton:hover {
    color: #000;
    padding: 33% 5% 8% 5%;
    border-radius: 100px;
    border-style: none;
    font-family: 'futura';
    margin-top: 3%;
    transition-duration: .2s;
    box-shadow:  0px 0px 0px #D1CDC7,
                 0px 0px 0px #FFFFFF;
    background-color: #eeeeef;
}

.eggButton:active {
    color: #000;
    padding: 33% 5% 8% 5%;
    border-radius: 100px;
    border-style: none;
    font-family: 'futura';
    margin-top: 3%;
    transition-duration: .2s;
    box-shadow: inset 6px 6px 8px #D1CDC7,
                inset -6px -6px 8px #FFFFFF;
    background-color: #eeeeef;
}